@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: rgb(37, 9, 37);
  color: white;
  height: 65px;
  font-size: 27px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

nav ul {
  list-style-type: none;
}

.gameContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: blanchedalmond;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  position: relative;
}

.box {
  border: 2px solid rgb(0, 0, 0);
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: rgb(21, 219, 156);
}

.info {
  font-size: 22px;
}

.gameInfo {
  padding: 0 34px;
  font-family: "Roboto", sans-serif, cursive;
}

.gameInfo h1 {
  font-size: 2.5rem;
}

.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}

.bb-0 {
  border-bottom: 0;
}

.lets_play{
    margin-bottom: 10px;
}

#reset {
  -webkit-appearance: initial;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  display: inline-block;
  font-size: 16px;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
  line-height: inherit;
  border-radius: 0;
  text-transform: capitalize;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  max-width: 320px;
  background: transparent ; border-color: rgb(37, 9, 37); color: rgb(37, 9, 37);
  border-radius: 50px;
  margin-left: 20px;
  font-size: 20px;  padding: 5px 40px; line-height: 1.8em;
}
#reset:hover {background: rgb(37, 9, 37) !important; border-color: rgb(37, 9, 37); color: #fff !important}
#reset:focus{-webkit-box-shadow: none;box-shadow: none;}

.line {
  background-color: black;
  height: 3px;
  width: 0;
  position: absolute;
  background-color: #911d91;
  transition: width 1s ease-in-out;
}

.no_click{
    pointer-events:none;
    background: rgb(249, 240, 228);
    opacity: 50%;
}

@media screen and (max-width: 950px) {
  .gameContainer {
    flex-wrap: wrap;
  }
  .gameInfo {
    margin-top: 34px;
  }
  .gameInfo h1 {
    font-size: 1.5rem;
  }
  .container {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
}
